.likedPicture {
	position: relative;
	height: 300px;
	width: 300px;
	overflow: hidden;
}

.likedPicture img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.pictures button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.arrows {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.pictures {
	overflow: hidden;
	position: relative;
	width: 90vw;
	height: 100vh;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.backArrow {
	position: fixed;
	background-color: transparent;
	color: orange;
	padding: 5px;
	font-size: 30px;
	top: 30px;
	right: 30px;
	transform: translateY(-50%);
	cursor: pointer;
}

.backArrow:focus {
	outline: 0;
}